<!DOCTYPE html>
<html lang="ru">
<head>
	<% include head.ejs %>
	<link rel="stylesheet" href="/css/card.css"/>
</head>

<body>
<% include menu.ejs %>
<div class="page-content">

    <div class="page-header">
        <h1>История покупок по карте #<%= cardNumber %></h1>
    </div>

    <div class="panel panel-default col-sm-8">
        <!-- Default panel contents -->
      <!--  <div class="panel-heading">История покупок билетов</div> ->

        <!-- Table -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Дата покупки</th>
                <th>Событие</th>
                <th>Сумма</th>
                <th>Билеты</th>
            </tr>
            </thead>
            <tbody>
				<% orders.forEach(function(order){ %>
					<tr>
						<td><%= order.sellTime %></td>
						<td><%= order.event %></td>
						<td><%= order.sum %></td>
						<td><%= order.tickets %><%if (order.isVip) { %>&nbsp;VIP<% } %><a href="/orders?id=<%= order.id %>"><span class="pull-right label label-success">Скачать</span></a></td>
					</tr>
				<% }) %>
            </tbody>
        </table>
    </div>

</div>
<% include footer.ejs %>
<script src="/js/card.js"></script>
<script language="JavaScript">
    $(document).ready(card.init);
</script>
</body>
</html>