<!DOCTYPE html>
<html lang="ru">
<head>
	<% include head.ejs %>
	<link rel="stylesheet" href="/css/personalinfo.css"/>
    <script src="/js/personalinfo.js"></script>
</head>

<body>
<% include menu.ejs %>


<div class="page-header" style="padding-left: 60px">
    <h1>Персональные данные</h1>
</div>


<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Имя</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputName" <% if(firstName){ %>value="<%= firstName %>"<% } %> placeholder="Имя">
    </div>
  </div>

  <div class="form-group">
    <label for="inputLasntname" class="col-sm-2 control-label">Фамилия</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputLasntname" <% if(lastName){ %>value="<%= lastName %>"<% } %> placeholder="Фамилия">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="inputEmail3" <% if(email){ %>value="<%= email %>"<% } %> required placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label">Телефон</label>
    <div class="col-sm-3">
      <input type="tel" class="form-control" id="inputPhone" <% if(phone){ %>value="<%= phone %>"<% } %> placeholder="Телефон">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCard" class="col-sm-2 control-label">Карта</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputCard" <% if(cardNumber){ %>value="<%= cardNumber %>"<% } %> placeholder="Карта">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Сохранить</button>
	  <button type="reset" class="btn btn-default">Отменить</button>
    </div>
	
  </div>
</form>



<% include footer.ejs %>

<script language="JavaScript">
    $(document).ready(personalinfo.init);
</script>
</body>
</html>